{% extends "layouts/table.html" %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    <table class="table-lg">
      <caption class="visually-hidden">Pedigree information</caption>
      <thead>
        <tr>
          <th scope="col">Horse</th>
          <th scope="col">Sire</th>
          <th scope="col">Broodmare Sire</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pedigree %}
        <tr>
          <td><a href="{{ item.pedigreeLink }}">{{ item.horse }}</a></td>
          <td>{{ item.sire }}</td>
          <td>{{ item.broodmareSire }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      {% for item in pedigree %}
      <table class="table-sm">
        <thead>
          <tr>
            <th scope="col" class="hdr-horse-sm" colspan="2"><a href="{{ item.pedigreeLink }}">{{ item.horse }}</a></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="hdr-synth">Sire</td>
            <td>{{ item.sire }}</td>
          </tr>
          <tr>
            <td class="hdr-synth">Broodmare Sire</td>
            <td>{{ item.broodmareSire }}</td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
    </div>
  </article>
{% endblock %}
